<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="icon"
      href="https://img.pikbest.com/png-images/20250215/educational-logo-circular-emblem-open-book-fountain-pen-nib_11514970.png!bw700"
      type="image/x-icon"
    />
  </head>
</html>
